.main-btn {
    height: 25px;
    display: inline;
    padding: 3px 8px 3px 8px;
    font-size: 20px;
    font-weight: 600;
    margin-right: 60px;
}
.brand-logo {
    float: right !important;
}
nav {
    margin: 50px 0 75px 0px;
    padding-left: 50px;
    
}

.nav-btns{
    margin-top: 20px;
}
.menu-btn{
    margin-top: 20px;
}
.img-container {
    height: 415px;
}
.btn{
    transition: 0.3s;
}
.btn:hover {
    opacity: 1;
    background-color: red;
}

.main-text {
    font-size: 20px;
}

.circle-obj {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    /* display: inline-block; */
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    /* display: inline; */
}

.capitaliza {
    text-transform: capitalize;
}

.remove-shadow {
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
}

.holder-color {
    color: #01163F;
}

.holder-color-back {
    background-color: #01163F;
}



.blur{
    filter:blur(5px);
}
